.restaurantList {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 3.5% 0;
}

.restaurantChooserContainer {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;

  .pageTitle {
    width: 100%;
    font-size: 5.5vw;
    margin-bottom: 0;
  }

  a {
    width: 100%;
  }
}

.restaurantChooserView {
  display: flex;
  border: 5px solid black;
  justify-content: center;
  padding: 1em;
  flex: 1;
  max-width: 28%;

  &:hover {
    cursor: pointer;
    background: rgba(255, 218, 185, 0.7);
  }

  &:active, &[data-active="true"] {
    background: rgba(255, 218, 185, 1);
  }
}

img {
  max-width: 100%;
}
