@import './variables.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h1 {
  font-size: 5.5vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.nowrap {
  white-space: nowrap;
}

/* App
/------------------------------------*/
.game-container {
  border: 5px solid black;
  overflow: hidden;
  max-height: 100vh;

  &::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16/9));
  }

  &_inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

/* App / AnimatedSwitch
/------------------------------------*/
.route-switcher {
  height: 100%;
  
  > div {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
  
    // https://matthewlein.com/tools/ceaser
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
  }
}


/* RestaurantChooser
/------------------------------------*/
.restaurant {

  &-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 3.5% 0;
  }

  &-chooser-view {
    display: flex;
    border: 5px solid black;
    align-items: center;
    padding: 2em;
    max-width: 28%;
  
    &:hover {
      cursor: pointer;
      background: rgba(255, 218, 185, 0.7);
    }
  
    &:active, &[data-active="true"] {
      background: rgba(255, 218, 185, 1);
    }
    
    img {
      max-width: 100%;
    }
  }
}


/* Gameplay Screen
/------------------------------------*/
.game {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__header {
    width: 100%;
    border-bottom: 5px solid;
    //display: flex;
    // flex-flow: row wrap;
    // align-items: center;
    // justify-content: space-between;
    font-size: 1.7vw;

    &--score {
      flex: 1;
      display: flex;
      justify-content: space-evenly;

      > span {padding: 0.25em 0.35em;}
    }

    &--count {
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      
      > div { 
        flex: 1; 
        padding: 0.25em 0;
      }
    }
  }

  
}

/* Stovetop
/------------------------------------*/
.stove {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 15%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(69,72,77);
  background: rgb(69,72,77);
  background: -moz-linear-gradient(-45deg,  rgb(69,72,77) 0%, rgb(0,0,0) 100%);
  background: -webkit-linear-gradient(-45deg,  rgb(69,72,77) 0%,rgb(0,0,0) 100%);
  background: linear-gradient(135deg,  rgb(69,72,77) 0%,rgb(0,0,0) 100%);

  &.Burgers {
    background: url('../assets/images/grill.jpg') rgb(36, 33, 33) no-repeat center center;
    background-blend-mode: color-burn;

    .burner {
      background: none;
    }
    .pan {
      background: none;
      box-shadow: 0 0 0 2px black;
    }
  }

  .burners {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .burner {
    $plateWidth: 30%;
    width: $plateWidth;
    padding-top: $plateWidth;
    margin: 2% 0;
    border-radius: 50%;
    background: none;
    box-shadow: 0px 0px 2px rgb(100, 74, 74) inset;
    background: url('../assets/images/burner_red.png') darkslategrey no-repeat center center;
    background-size: 90%;
    background-blend-mode: luminosity;
    transition: all .2s linear;

    &:hover {
      cursor: pointer;
      background-blend-mode: normal;
      //cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
      //cursor: url("https://i.ibb.co/JCQ11Gs/cursor-pourer.png"), auto;
    }
  }
}


/* Pancakes (and other flipping foods)
/------------------------------------*/
.pan {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  padding-top: 100%;
  box-shadow: 0 0 0 5px black;
  border-radius: 50%;
  background: url('../assets/images/burner_pan.png') black no-repeat center center;
  background-size: cover;
  // Flip
  //background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  &-front, &-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    transform: scale(1);
  }

  &-back {
    transform: rotateX(180deg);
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;

    // Flip
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
}

.Pancakes {
  .--cooked { 
    background-color: #846644; 
    color: white; 
  }
  .--burnt { 
    background-color: #46381B; 
    color: white; 
  }
  .--raw { 
    background-color: #F0E68C; 
  }
}
.Eggs {
  .--cooked { 
    background: rgb(234,191,0);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(234,191,0,1) 25%, rgba(255,255,255,1) 30%, rgba(206,204,192,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(234,191,0,1) 25%,rgba(255,255,255,1) 30%,rgba(206,204,192,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(234,191,0,1) 25%,rgba(255,255,255,1) 30%,rgba(206,204,192,1) 100%);
  }
  .--burnt { 
    background: rgb(142,119,0);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(142,119,0,1) 25%, rgba(255,255,255,1) 30%, rgba(94,81,67,1) 88%, rgba(94,81,67,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(142,119,0,1) 25%,rgba(255,255,255,1) 30%,rgba(94,81,67,1) 88%,rgba(94,81,67,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(142,119,0,1) 25%,rgba(255,255,255,1) 30%,rgba(94,81,67,1) 88%,rgba(94,81,67,1) 100%);
  }
  .--raw { 
    background: rgb(239,223,115);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(237,227,168,1) 25%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 57%, rgba(254,252,234,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(237,227,168,1) 25%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 57%,rgba(254,252,234,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(237,227,168,1) 25%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 57%,rgba(254,252,234,1) 100%);

  }
}
.Burgers {
  .--cooked, .--burnt, .--raw {
    background-image: url('../assets/images/burger_lines.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
  }
  .--cooked { 
    background-color: #846644; 
    color: white; 
  }
  .--burnt { 
    background-color: #46381B; 
    color: white; 
  }
  .--raw { 
    background-color: rgb(240, 155, 140); 
  }
}

.--cooked { 
  background-color: #846644; 
  color: white; 
}
.--burnt { 
  background-color: #46381B; 
  color: white; 
}
.--raw { 
  background-color: #F0E68C; 
}